/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.c{
	
	text-align:center;
	
}
.b{
	padding:9px;
	background-color:red;
	border-radius:4px;
	color:white;
}





