/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:left;
	align-items:center;
}
.c{
	width:200px;
	text-align:center;
}
.b{
	padding:1px;
	background-color:red;
	border-radius:5px;
}





